.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.body {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.main {
    flex: 1;
    overflow-y: auto;
}

.footer {
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    flex-shrink: 0
}