.card-conatiner {
    height: 180px;
    width: 300px;
    display: flex;

    .ic-cont mat-icon {
        font-size: 50;
    }
}

.details-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .location {
        display: flex;
        justify-content: left;
        align-items: center;

        mat-icon {
            font-size: 28px;
            height: 28px;
            width: 28px;
            color: orangered;
        }

    }

    .description {
        flex: 1;
        padding: 0 5px 0 5px;
    }

}

.title-cont {
    display: flex;
    // justify-content: space-between;
    padding-left: 10px;

    .name::first-letter {
        color: orange;
        font-size: 150%;
        font-weight: bold;
    }

    img {
        border-radius: 0 5px 0 0;
    }
}

.actions {
    display: flex;
    justify-content: space-around;
    width: 100%;
    border: orange solid 1px;
    border-radius: 5px;
    mat-icon {
        cursor: pointer;
        font-size: 30px;
        height: 30px;
        width: 30px;

    }

    .edit,
    .view {
        color: green;
    }

    .delete {
        color: red;
    }
}